In [1381]:
import getpass
import os
import cx_Oracle
import pandas as pd
import numpy as np
from datetime import datetime

from sqlalchemy.engine import create_engine
from sqlalchemy import MetaData, Table, Column, String, Integer, Float, Boolean, inspect, select, and_


# Define connection parameters and combine them into a connection URL.

In [1382]:
import sqlalchemy as sa

URL = "postgresql+pg8000://cs-mdmd:reconfirm-subtitle-rash-serpent-snuggle@maans10.gm.fh-koeln.de/cs-mdmd"

engine = sa.create_engine(URL, client_encoding = "utf8")
connection = engine.connect()

# We can now connect to the database using the above URL.

In [1383]:
engine = create_engine(URL)
connection = engine.connect()

# Getting the file path for this notebook server

In [1447]:
#files = os.listdir('./Data_loading')
#for f in files:
#    filename = f
#   print(filename)

Book1.xlsx
Book2.xlsx
Book3.xlsx

# Initialising the dictionaries

In [1385]:
def cable_dict_creator(cable_number, location, manufactured, source, destination, nominal_voltage, voltage_unit,
                       length, termin_source, termin_destination, fit_tech_source, fit_tech_destination, 
                      nr_of_connectors, guards, out_layer):
    cable_dict = {}
    cable_dict['cable_number'] = cable_number
    cable_dict['location'] = location
    cable_dict['manufactured'] = manufactured
    cable_dict['source'] = source
    cable_dict['destination'] = destination
    cable_dict['nominal_voltage'] = nominal_voltage
    cable_dict['voltage_unit'] = voltage_unit
    cable_dict['length'] = length
    cable_dict['termin_source'] = termin_source
    cable_dict['termin_destination'] = termin_destination
    cable_dict['fit_tech_source'] = fit_tech_source
    cable_dict['fit_tech_destination'] = fit_tech_destination
    cable_dict['nr_of_connectors'] = nr_of_connectors
    cable_dict['guards'] = guards
    cable_dict['out_layer'] = out_layer
    
    return cable_dict

In [1386]:
def meas_dict_creator(cable_id, person, performed_on, time, meas_type):
    meas_dict = {}
    meas_dict['cable_id'] = cable_id
    meas_dict['person'] = person
    meas_dict['performed_on'] = performed_on
    meas_dict['time'] = time
    meas_dict['meas_type'] = meas_type
    return meas_dict

In [1387]:
def tandelta_dict_creator(line_nr, meas_id, ref_voltage, nr_of_steps, nr_of_meas_per_steps):
    tandelta_dict = {}
    tandelta_dict['line_nr'] = line_nr
    tandelta_dict['meas_id'] = meas_id
    tandelta_dict['ref_voltage'] = ref_voltage
    tandelta_dict['nr_of_steps'] = nr_of_steps
    tandelta_dict['nr_of_meas_per_steps'] = nr_of_meas_per_steps
    return tandelta_dict

In [1388]:
def step_nr_dict_creator(tandelta_id, line_nr, step_voltage, tandelta_1, tandelta_2, tandelta_3, 
                         tandelta_4, tandelta_5, tandelta_6):
    step_nr_dict = {}
    step_nr_dict['tandelta_id'] = tandelta_id
    step_nr_dict['line_nr'] = line_nr
    step_nr_dict['step_voltage'] = step_voltage
    step_nr_dict['tandelta_1'] = tandelta_1
    step_nr_dict['tandelta_2'] = tandelta_2
    step_nr_dict['tandelta_3'] = tandelta_3
    step_nr_dict['tandelta_4'] = tandelta_4
    step_nr_dict['tandelta_5'] = tandelta_5
    step_nr_dict['tandelta_6'] = tandelta_6
    return step_nr_dict

In [1389]:
 filename = 'Book12.xlsx'

# Initialising empty dataframe

In [1390]:
df_cable = pd.DataFrame()

# Reading data from one excel and appending it to dataframe

In [1391]:
data_cable = pd.read_excel(filename, 'cable', parse_dates= ['manufactured'])
df_cable = df_cable.append(data_cable)
df_cable

/tmp/ipykernel_2188704/908115446.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_cable = df_cable.append(data_cable)

,cable_number,location,manufactured,source,destination,length,termin_source,termin_destination,guards,fit_tech_source,fit_tech_destination,nr_of_connectors,nominal_voltage,voltage_unit
0,NaN,Elchingen,2021-04-28,Gewerbestr. 22 Dittent.,Daimlerstraße 13 Megad.,NaN,Kunststoff,Kunststoff,NaN,Aufschiebemuffe,Aufschiebemuffe,0,12,kV

# Rearranging the dataframe to actual structure

In [1392]:
df_cable = df_cable.assign(length=None, nr_of_connectors=None, guards=None, out_layer="")
df_cable = df_cable[['cable_number','location','manufactured','source','destination','nominal_voltage','voltage_unit','length','termin_source','termin_destination',
                     'fit_tech_source','fit_tech_destination','nr_of_connectors','guards','out_layer']]
df_cable = df_cable.reset_index()
df_cable

,index,cable_number,location,manufactured,source,destination,nominal_voltage,voltage_unit,length,termin_source,termin_destination,fit_tech_source,fit_tech_destination,nr_of_connectors,guards,out_layer
0,0,NaN,Elchingen,2021-04-28,Gewerbestr. 22 Dittent.,Daimlerstraße 13 Megad.,12,kV,None,Kunststoff,Kunststoff,Aufschiebemuffe,Aufschiebemuffe,None,None,

# Assigning cable number

In [1393]:
if df_cable['cable_number'].isna().any().any():
    df_cable['cable_number'] = 1
else:
    df_cable['cable_number'] = df_cable['cable_number']
    
df_cable

,index,cable_number,location,manufactured,source,destination,nominal_voltage,voltage_unit,length,termin_source,termin_destination,fit_tech_source,fit_tech_destination,nr_of_connectors,guards,out_layer
0,0,1,Elchingen,2021-04-28,Gewerbestr. 22 Dittent.,Daimlerstraße 13 Megad.,12,kV,None,Kunststoff,Kunststoff,Aufschiebemuffe,Aufschiebemuffe,None,None,

# Database checks

In [1394]:
from sqlalchemy import insert

metadata = MetaData ()
cable = Table('cable', metadata, autoload = True, autoload_with = engine)

In [1395]:
inspector = inspect(engine)
if inspector.has_table("cable"):
    print("Database contains the table 'cable'!")

Database contains the table 'cable'!

# Checking for duplicate values in the database

In [1396]:
cable_num = ''
source = ''
dest = ''
flag = 0
for index, row in df_cable.iterrows():
    cable_num = row['cable_number']
    source = row['source']
    dest = row['destination']
    
stmt = select([cable]).where(and_(cable.c.source == source, cable.c.destination == dest))


for result in connection.execute(stmt).fetchall():
    print(result.source)
    print(result.destination)
    if result.source == source and result.destination == dest:
        flag = 1
        print(flag)
    else:
        flag = 0

Gewerbestr. 22 Dittent.
Daimlerstraße 13 Megad.
1

# Inserting data to daatbase if no duplicate values are found

In [1397]:
if flag != 1:
    for index, row in df_cable.iterrows():
        stmt = insert(cable).values(cable_dict_creator(row['cable_number'],row['location'],row['manufactured'],row['source'],
                        row['destination'],row['nominal_voltage'],row['voltage_unit'],row['length'],row['termin_source'],
                        row['termin_destination'],row['fit_tech_source'],
                        row['fit_tech_destination'],row['nr_of_connectors'],row['guards'],row['out_layer']))
        result_proxy = connection.execute(stmt)
        print(result_proxy.rowcount)
else:
    pass

# Reading cable data from teh database

In [1398]:
stmt = select([cable]).where(and_(cable.c.cable_number == cable_num, cable.c.source == source, cable.c.destination == dest)) 

for result in connection.execute(stmt).fetchall():
    list_meas = []
    list_meas.append(result.cable_id)

list_meas

[6]

# Initialising and rearranging the measurement dataframe

In [1399]:
df_measurement = pd.DataFrame()

In [1400]:
data_meas = pd.read_excel(filename, 'measurement', parse_dates= ['performed_on'])
df_measurement = df_measurement.append(data_meas)
df_measurement['time'] = pd.to_datetime(df_measurement['time'], format='%H:%M:%S')
df_measurement

/tmp/ipykernel_2188704/2072300676.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data_meas = pd.read_excel(filename, 'measurement', parse_dates= ['performed_on'])
/tmp/ipykernel_2188704/2072300676.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_measurement = df_measurement.append(data_meas)

,meas_id,cable_id,person,performed_on,time,meas_type
0,NaN,NaN,Daniel Lampe,2021-04-28,1900-01-01 09:41:37,Tangens Delta

# Appending cable id from cable table to measurement dataframe

In [1401]:
df_measurement['cable_id'] = list_meas 
df_measurement

,meas_id,cable_id,person,performed_on,time,meas_type
0,NaN,6,Daniel Lampe,2021-04-28,1900-01-01 09:41:37,Tangens Delta

# Inserting measurement data into the database

In [1402]:
from sqlalchemy import insert

metadata = MetaData ()
measurement = Table('measurement', metadata, autoload = True, autoload_with = engine)

In [1403]:
inspector = inspect(engine)
if inspector.has_table("measurement"):
    print("Database contains the table 'measurement'!")

Database contains the table 'measurement'!

In [1404]:
for index, row in df_measurement.iterrows():
    stmt = insert(measurement).values(meas_dict_creator(row['cable_id'],row['person'],
                                                        row['performed_on'],row['time'],row['meas_type']))
                                                       
    result_proxy = connection.execute(stmt)
    print(result_proxy.rowcount)

1

# Initialising Initialising and rearranging the tandelta dataframe

In [1405]:
df_tandelta = pd.DataFrame()

In [1406]:
data_tandelta = pd.read_excel(filename, 'tandelta')
df_tandelta = df_tandelta.append(data_tandelta)
df_tandelta

/tmp/ipykernel_2188704/631682603.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_tandelta = df_tandelta.append(data_tandelta)

,tandelta_id,line_nr,meas_id,ref_voltage,nr_of_steps,nr_of_meas_per_steps
0,NaN,1,NaN,12,4,6
1,NaN,2,NaN,12,4,6
2,NaN,3,NaN,12,4,6

# Appending meas_id from measurement table to tandelta dataframe

In [1407]:
stmt = select([measurement]).where(measurement.columns.cable_id == list_meas[0]) 
n = 3
for result in connection.execute(stmt).fetchall():
    
    list_tandelta = []
    list_tandelta += n * [result.meas_id]


list_tandelta

[12, 12, 12]

In [1408]:
df_tandelta['meas_id'] = list_tandelta
df_tandelta['meas_id'] = df_tandelta['meas_id'].astype(int)
df_tandelta['line_nr'] = df_tandelta['line_nr'].astype(int)
#df_tandelta['ref_voltage'] = df_tandelta['ref_voltage'].astype(int)
#df_tandelta['nr_of_steps'] = df_tandelta['nr_of_steps'].astype(int)
#df_tandelta['nr_of_meas_per_steps'] = df_tandelta['nr_of_meas_per_steps'].astype(int)
print(df_tandelta['nr_of_meas_per_steps'])
df_tandelta

0    6
1    6
2    6
Name: nr_of_meas_per_steps, dtype: int64

,tandelta_id,line_nr,meas_id,ref_voltage,nr_of_steps,nr_of_meas_per_steps
0,NaN,1,12,12,4,6
1,NaN,2,12,12,4,6
2,NaN,3,12,12,4,6

# Inserting tandelta values to the database

In [1409]:
from sqlalchemy import insert

metadata = MetaData ()
tandelta_lf = Table('tandelta_lf', metadata, autoload = True, autoload_with = engine)

In [1410]:
inspector = inspect(engine)
if inspector.has_table("tandelta_lf"):
    print("Database contains the table 'tandelta_lf'!")

Database contains the table 'tandelta_lf'!

In [1411]:
for row in df_tandelta.itertuples():
    stmt = insert(tandelta_lf).values(tandelta_dict_creator(row[2], row[3],row[4],
                                                            row[5],row[6]))
    result_proxy = connection.execute(stmt)
    print(result_proxy.rowcount)

1
1
1

# Initialising stepnr dataframe and rearranging the columns

In [1412]:
df_stepnr1 = pd.DataFrame()

# Appending to dataframe stepnr sheet for  Line 1

In [1413]:
data_stepnr1 = pd.read_excel(filename, 'step nr L1')
df_stepnr1 = df_stepnr1.append(data_stepnr1)
df_stepnr1['tandelta_1'] = df_stepnr1['tandelta_1'].str.replace(",", ".").astype(float)
df_stepnr1['tandelta_2'] = df_stepnr1['tandelta_2'].str.replace(",", ".").astype(float)
df_stepnr1['tandelta_3'] = df_stepnr1['tandelta_3'].str.replace(",", ".").astype(float)
df_stepnr1['tandelta_4'] = df_stepnr1['tandelta_4'].str.replace(",", ".").astype(float)
df_stepnr1['tandelta_5'] = df_stepnr1['tandelta_5'].str.replace(",", ".").astype(float)
df_stepnr1['tandelta_6'] = df_stepnr1['tandelta_6'].str.replace(",", ".").astype(float)

df_stepnr1

/tmp/ipykernel_2188704/3249233490.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_stepnr1 = df_stepnr1.append(data_stepnr1)

,step_id,tandelta_id,line_nr,step_voltage,tandelta_1,tandelta_2,tandelta_3,tandelta_4,tandelta_5,tandelta_6
0,NaN,NaN,1,6,1.0,1.0,1.0,1.0,1.0,1.0
1,NaN,NaN,1,12,1.0,1.0,1.0,1.0,1.0,1.0
2,NaN,NaN,1,18,1.0,1.0,1.0,1.0,1.0,1.0
3,NaN,NaN,1,24,2.1,1.8,1.9,1.9,1.9,1.9

In [1414]:
line_nr = 1
n = 4

stmt = select([tandelta_lf]).where(tandelta_lf.columns.line_nr == line_nr) 

for result in connection.execute(stmt).fetchall():
    list_stepnr1 = []
    list_stepnr1 += n * [result.tandelta_id]

list_stepnr1

[34, 34, 34, 34]

In [1415]:
df_stepnr1['tandelta_id'] = list_stepnr1
df_stepnr1

,step_id,tandelta_id,line_nr,step_voltage,tandelta_1,tandelta_2,tandelta_3,tandelta_4,tandelta_5,tandelta_6
0,NaN,34,1,6,1.0,1.0,1.0,1.0,1.0,1.0
1,NaN,34,1,12,1.0,1.0,1.0,1.0,1.0,1.0
2,NaN,34,1,18,1.0,1.0,1.0,1.0,1.0,1.0
3,NaN,34,1,24,2.1,1.8,1.9,1.9,1.9,1.9

# Appending to dataframe stepnr sheet for Line 2

In [1416]:
df_stepnr2 = pd.DataFrame()

In [1417]:
data_stepnr2 = pd.read_excel(filename, 'step nr L2')
df_stepnr2 = df_stepnr2.append(data_stepnr2)
df_stepnr2['tandelta_1'] = df_stepnr2['tandelta_1'].str.replace(",", ".").astype(float)
df_stepnr2['tandelta_2'] = df_stepnr2['tandelta_2'].str.replace(",", ".").astype(float)
df_stepnr2['tandelta_3'] = df_stepnr2['tandelta_3'].str.replace(",", ".").astype(float)
df_stepnr2['tandelta_4'] = df_stepnr2['tandelta_4'].str.replace(",", ".").astype(float)
df_stepnr2['tandelta_5'] = df_stepnr2['tandelta_5'].str.replace(",", ".").astype(float)
df_stepnr2['tandelta_6'] = df_stepnr2['tandelta_6'].str.replace(",", ".").astype(float)
df_stepnr2

/tmp/ipykernel_2188704/1503694663.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_stepnr2 = df_stepnr2.append(data_stepnr2)

,step_id,tandelta_id,line_nr,step_voltage,tandelta_1,tandelta_2,tandelta_3,tandelta_4,tandelta_5,tandelta_6
0,NaN,NaN,2,6,1.0,1.0,1.0,1.0,1.0,1.0
1,NaN,NaN,2,12,1.0,1.0,1.0,1.0,1.0,1.0
2,NaN,NaN,2,18,1.0,1.0,1.0,1.0,1.0,1.0
3,NaN,NaN,2,24,1.5,1.5,1.6,1.7,1.7,1.7

In [1418]:
line_nr = 2
n = 4
stmt = select([tandelta_lf]).where(tandelta_lf.columns.line_nr == line_nr) 

for result in connection.execute(stmt).fetchall():
    list_stepnr2 = []
    list_stepnr2 += n * [result.tandelta_id]

list_stepnr2

[35, 35, 35, 35]

In [1419]:
df_stepnr2['tandelta_id'] = list_stepnr2
df_stepnr2

,step_id,tandelta_id,line_nr,step_voltage,tandelta_1,tandelta_2,tandelta_3,tandelta_4,tandelta_5,tandelta_6
0,NaN,35,2,6,1.0,1.0,1.0,1.0,1.0,1.0
1,NaN,35,2,12,1.0,1.0,1.0,1.0,1.0,1.0
2,NaN,35,2,18,1.0,1.0,1.0,1.0,1.0,1.0
3,NaN,35,2,24,1.5,1.5,1.6,1.7,1.7,1.7

# Appending to dataframe stepnr sheet for Line 3

In [1420]:
df_stepnr3 = pd.DataFrame()

In [1421]:
data_stepnr3 = pd.read_excel(filename, 'step nr L3')
df_stepnr3 = df_stepnr3.append(data_stepnr3)
df_stepnr3['tandelta_1'] = df_stepnr3['tandelta_1'].str.replace(",", ".").astype(float)
df_stepnr3['tandelta_2'] = df_stepnr3['tandelta_2'].str.replace(",", ".").astype(float)
df_stepnr3['tandelta_3'] = df_stepnr3['tandelta_3'].str.replace(",", ".").astype(float)
df_stepnr3['tandelta_4'] = df_stepnr3['tandelta_4'].str.replace(",", ".").astype(float)
df_stepnr3['tandelta_5'] = df_stepnr3['tandelta_5'].str.replace(",", ".").astype(float)
df_stepnr3['tandelta_6'] = df_stepnr3['tandelta_6'].str.replace(",", ".").astype(float)
df_stepnr3

/tmp/ipykernel_2188704/3404810463.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_stepnr3 = df_stepnr3.append(data_stepnr3)

,step_id,tandelta_id,line_nr,step_voltage,tandelta_1,tandelta_2,tandelta_3,tandelta_4,tandelta_5,tandelta_6
0,NaN,NaN,3,6,1.0,1.0,1.0,1.0,1.0,1.0
1,NaN,NaN,3,12,1.0,1.0,1.0,1.0,1.0,1.0
2,NaN,NaN,3,18,1.0,1.1,1.1,1.0,1.0,1.0
3,NaN,NaN,3,24,2.6,2.6,2.6,2.6,2.6,2.6

In [1422]:
line_nr = 1
n = 4
stmt = select([tandelta_lf]).where(tandelta_lf.columns.line_nr == line_nr) 

for result in connection.execute(stmt).fetchall():
    list_stepnr3 = []
    list_stepnr3 += n * [result.tandelta_id]

list_stepnr3

[36, 36, 36, 36]

In [1423]:
df_stepnr3['tandelta_id'] = list_stepnr3
df_stepnr3

,step_id,tandelta_id,line_nr,step_voltage,tandelta_1,tandelta_2,tandelta_3,tandelta_4,tandelta_5,tandelta_6
0,NaN,36,3,6,1.0,1.0,1.0,1.0,1.0,1.0
1,NaN,36,3,12,1.0,1.0,1.0,1.0,1.0,1.0
2,NaN,36,3,18,1.0,1.1,1.1,1.0,1.0,1.0
3,NaN,36,3,24,2.6,2.6,2.6,2.6,2.6,2.6

# Appending all three dataframes to single dataframe

In [1424]:
df_stepnr = pd.DataFrame()

In [1425]:
df_stepnr = pd.concat([df_stepnr1,df_stepnr2,df_stepnr3])
df_stepnr

,step_id,tandelta_id,line_nr,step_voltage,tandelta_1,tandelta_2,tandelta_3,tandelta_4,tandelta_5,tandelta_6
0,NaN,34,1,6,1.0,1.0,1.0,1.0,1.0,1.0
1,NaN,34,1,12,1.0,1.0,1.0,1.0,1.0,1.0
2,NaN,34,1,18,1.0,1.0,1.0,1.0,1.0,1.0
3,NaN,34,1,24,2.1,1.8,1.9,1.9,1.9,1.9
0,NaN,35,2,6,1.0,1.0,1.0,1.0,1.0,1.0
1,NaN,35,2,12,1.0,1.0,1.0,1.0,1.0,1.0
2,NaN,35,2,18,1.0,1.0,1.0,1.0,1.0,1.0
3,NaN,35,2,24,1.5,1.5,1.6,1.7,1.7,1.7
0,NaN,36,3,6,1.0,1.0,1.0,1.0,1.0,1.0
1,NaN,36,3,12,1.0,1.0,1.0,1.0,1.0,1.0
2,NaN,36,3,18,1.0,1.1,1.1,1.0,1.0,1.0
3,NaN,36,3,24,2.6,2.6,2.6,2.6,2.6,2.6

# Inserting data into database

In [1426]:
from sqlalchemy import insert

metadata = MetaData ()
step_nr = Table('step_nr', metadata, autoload = True, autoload_with = engine)

In [1427]:
inspector = inspect(engine)
if inspector.has_table("step_nr"):
    print("Database contains the table 'step_nr'!")

Database contains the table 'step_nr'!

In [1428]:
for row in df_stepnr.itertuples():
    stmt = insert(step_nr).values(step_nr_dict_creator(row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9], row[10]))
    result_proxy = connection.execute(stmt)
    print(result_proxy.rowcount)

1
1
1
1
1
1
1
1
1
1
1
1

In [1429]:
connection.close()